version: '3.8'

services:
  database:
    ports:
      - "5432"

  # nginx
  nginx:
    ports:
      - "80"

  # php
  php:
    environment:
      XDEBUG_CONFIG: remote_host=docker.for.mac.localhost
      PHP_IDE_CONFIG: serverName=localhost
    ports:
      - "9000"
